{% extends "base.html" %}

{% block content %}
  {% load staticfiles %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <div ng-app="chatApp" ng-controller="ChatController">
  <h1>{{ room.label }}</h1>
  <p class="quiet">
    Anyone with this URL can join the room and chat: 
    <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code> 
  </p>
  <p>
    <label for="handle">Your name:</label>
    <input ng-model="handle" type="text" placeholder="handle">
  </p>
  <form ng-submit="submitMessage()">
    <table>
      <tbody>
          <tr ng-repeat="message in messages">
            <td>{{ message.timestamp }}</td>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr> 
      </tbody>
      <tfoot>
      <tr>
        <td>Say something:</td>
        <td colspan=2>
          <input ng-model="message" type="text" placeholder="message">
          <button type="submit">Say it</button>
        </td>
      </tfoot>
    </table>
    <p>Handle: {{handle}} | Message: {{message}}</p>
    <p>{{ws_scheme}}</p>
  </form>
  </div>
<script type="text/javascript">
angular.module('chatApp', []).controller('ChatController', function($scope) {
    // When we're using HTTPS, use WSS too.
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var chatsock = new WebSocket(ws_scheme + '://' + window.location.host + "/chat" + window.location.pathname);
    
    chatsock.onmessage = function(message) {
        var data = JSON.parse(message.data);
        $scope.messages.push({timestamp:data.timestamp, handle:data.handle, message:data.message});
    };

    $scope.submitMessage = function() {
        var message = {
            handle: $scope.handle,
            message: $scope.message,
        }
        chatsock.send(JSON.stringify(message));
        $scope.message = '';
        return false;
    };
});
</script>
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{{ STATIC_URL }}chat.js'></script>
  
{% endblock afterbody %}
