{% extends "base.html" %}

{% block content %}
  {% load staticfiles %}
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script type="text/javascript">var django_messages = {{ messages }};</script>
   <table id="chat">
        <tbody>
          {% for message in messages %}
            <tr>
              <td>{{ message.formatted_timestamp }}</td>
              <td>{{ message.handle }}</td>
              <td>{{ message.message }}</td>
            </tr> 
          {% endfor %}
        </tbody>
  </table>
  <p>{{ messages }}</p>
  <div ng-app="chatApp" ng-controller="ChatController" ng-init="messages={{ messages|safe }}">
  <h1>{{ room.label }}</h1>
  <p class="quiet">
    Anyone with this URL can join the room and chat: 
    <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code> 
  </p>
  <p>
    <label for="handle">Your name:</label>
    <input ng-model="handle" type="text" placeholder="handle">
  </p>
  {% verbatim %}
  <form ng-submit="submitMessage()">
    <table>
      <tbody>
          <tr ng-repeat="message in messages">
            <td>{{ message.formatted_timestamp }}</td>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr> 
      </tbody>
      <tfoot>
      <tr>
        <td>Say something:</td>
        <td colspan=2>
          <input ng-model="message" type="text" placeholder="message">
          <button type="submit">Say it</button>
        </td>
      </tfoot>
    </table>
    <p>Handle: {{ handle }} | Message: {{ message }}</p>
    <p>Django_messages: {{ django_messages }}</p>
    <p>messages: {{ messages }}</p>
  </form>
  </div>
  {% endverbatim %}
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}
